<app-header></app-header>
<main class="dashboard-layout">
  <div class="dashboard-header">
    <h1>Painel do Administrador</h1>
    <button class="btn-outline">
      <span class="icon">⚙️</span> Configurações
    </button>
  </div>

  <div class="tabs-nav">
    <button class="tab-btn active">Moderação de Avaliações</button>
    <button class="tab-btn">Funerárias</button>
    <button class="tab-btn">Relatórios</button>
    <button class="tab-btn">Usuários</button>
  </div>
  
  <div class="admin-content-area">
      </div>
</main>